.Leaderboard {
  min-width: 420px;
  max-width: 420px;
  height: 310px;
  max-height: 310px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  overflow-y: hidden;
  border-bottom: 1px black solid;
}
.ExtendedLeaderboard {
  height: 341px;
  max-height: 341px;
}
.LeaderboardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px black solid;
  height: 30px;
}
.PlayerLeaderboardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px black solid;
  height: 30px;
  min-width: 420px;
  background-color: gray;
}
.LeaderboardCell {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}
.LeaderboardPlace {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.Error {
  color: red;
  font-weight: bold;
  font-size: 12.5px;
}
